<div class="container">
  <h2>Edit Album</h2>
  <div class="d-flex flex-row-reverse">
    <div class="p-2">
      <%= link_to "Sync Album", admin_album_sync_path(@album), class: 'btn btn-primary' %>
    </div>
    <div class="p-2"><a href="/admin/albums" class="btn btn-secondary">Volver atras</a></div>
  </div>

  <%= render 'form' %>

  <div class="d-flex flex-column mb-3">
    <div class="p-2">
      <b>Last sync</b> <%= @album.imgur_sync_at %>
    </div>
    <div class="p-2">
      <b>Published</b> <%= @album.published %>
    </div>
    <div class="p-2">
      <p><b>Images: </b></p>
      <pre class="p-4 bg-dark text-white"><%= JSON.pretty_generate @album.imgur_response %></pre>
    </div>
  </div>
</div>